BasedOnStyle: Google
ArrayInitializerAlignmentStyle: AIAS_Right
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: NextLine
QualifierAlignment: Right
PointerAlignment: Right
AlwaysBreakTemplateDeclarations: MultiLine
ColumnLimit: 100
AlignAfterOpenBracket: Align
SpacesInAngles: Never
IndentCaseLabels: false
EmptyLineBeforeAccessModifier: Always
AccessModifierOffset: -4
InsertNewlineAtEOF: true
